.m-nav__header {
  margin: var(--e-space-3) var(--e-space-3) calc(-1 * var(--e-space-4));
}

@media (min-width: 66rem) {
  .m-nav__header {
    margin-bottom: calc(-1 * var(--e-space-3));
  }
}

.m-nav__footer {
  margin: calc(-1 * var(--e-space-1)) var(--e-space-3) 0;
}

.m-nav__new-cta {
  --color: var(--e-color-highlight-3);

  border-color: var(--color);
  color: var(--color);
}
