.m-mood-card {
  align-items: center;
  column-gap: var(--space-1);
  display: grid;
  grid-template-columns: 5em 1fr;
}

.m-mood-card__exploration {
  line-height: 1;
}

.m-mood-card__heading {
  line-height: 1;
  margin-bottom: 0;
}

.m-mood-card__time {
  line-height: 1;
  margin-bottom: 0;
}
