.m-mood-card__exploration {
  /* Display is set to flex by EventCard parent component.
  Setting flex-basis to 1000% means this is free to expand horizontally */
  flex-basis: 1000% !important;
  grid-column-start: 2;
  line-height: 1;
  margin: 0;
  word-break: break-word;
}

.m-mood-card__heading {
  line-height: 1;
  margin: 0;
}

.m-mood-card__time {
  line-height: 1;
  margin-bottom: 0;
}
