.m-calendar-day {
  animation: m-calendar-day-keyframes var(--time-1) var(--easing-standard)
    forwards;
  opacity: 0;
  transform: scale(0);
}

@keyframes m-calendar-day-keyframes {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
