.m-summary-item {
  align-items: center;
  display: grid;
  height: 100%;
  text-align: center;
}

.m-summary-item__heading {
  align-self: start;
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-bold);
}

.m-summary-item__icon {
  color: var(--color);
}

.m-summary-item__mood-bar {
  margin-block: var(--space-1);
}

.m-summary-item__trend {
  align-self: end;
  font-size: var(--font-size-0);
  font-style: italic;
  line-height: 1;
}

.m-summary-item__value {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-3);
}
