.m-event-card-location-and-weather {
  align-items: center;
  display: flex;
  /* Display is set to flex by EventCard parent component.
  Setting flex-basis to auto means this will not expand horizontally */
  flex-basis: auto !important;
  flex-direction: column;
  font-size: var(--font-size-0);
  grid-column-start: 3;
}
