.m-calendar-button {
  transition: background-color var(--time-0) var(--easing-standard);
}

.m-calendar-button:hover {
  background: var(--color-ground-less);
}

.m-calendar-button:active {
  background: var(--color-highlight-default);
}

.m-calendar-button h4 {
  margin-top: 0;
}
