name: CI
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          cache: npm
          cache-dependency-path: client/package-lock.json
          node-version-file: client/.nvmrc
      - run: make init/ci
      - run: make test/ci
